%sf-regular {
  font-family: "SFProDisplay-Regular", sans-serif;
  font-weight: 400;
}
%sf-medium {
  font-family: "SFProDisplay-Medium", sans-serif;
  font-weight: 500;
}
%sf-semibold {
  font-family: "SFProDisplay-Semibold", sans-serif;
  font-weight: 600;
}
%sf-bold {
  font-family: "SFProDisplay-Bold", sans-serif;
  font-weight: 700;
}
%barlow-bold {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
}
%barlow-semibold {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}
%barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}
$blue: #1c62cd;
$grey: #C4C4C4;
$text: #2F3035;
$greyBackground: #F0F0F4;
